.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    border: 1px solid black !important;
    background: #263238 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-shadow: 0 0 #eee !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #333), to( #333));
    background-image: -webkit-linear-gradient( #333, #333);
    background-image: -moz-linear-gradient( #333, #333);
    background-image: -ms-linear-gradient( #333, #333);
    background-image: -o-linear-gradient( #333, #333);
    background-image: linear-gradient( #333, #333);
}

.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head+body .ui-btn.ui-btn-a:hover {
    border: 1px solid #333;
    background: #333;
    font-weight: bold;
    text-shadow: 0 0 #eee !important;
    color: #fff !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f94), to( #fa3));
    background-image: -webkit-linear-gradient( #f94, #fa3);
    background-image: -ms-linear-gradient( #f94, #fa3);
    background-image: -o-linear-gradient( #f94, #fa3);
    background-image: linear-gradient( #f94, #fa3);
}

.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head+body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #0093EA !important;
    border-color: #0093EA !important;
    color: #fff;
    text-shadow: 0 1px 0 #005599;
}

img {
    padding: 25px;
}

#whatsearch {
    padding-bottom: 25px;
}

button.ui-btn,
.ui-controlgroup-controls button.ui-btn-icon-notext {
    border-radius: 5px !important;
}

#searchbutton {
    margin-bottom: 25px;
}

#main {
    margin-top: 3% !important;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: #ddd;
    color: #111;
}

th {
    border-bottom: 1px solid #d6d6d6 !important;
}

tr:nth-child(even) {
    background: #e9e9e9 !important;
}

.ui-table {
    margin-top: 5% !important;
    border: 1px solid grey !important;
    border-radius: 5px !important;
    border-collapse: initial !important;
}

label {
    font-weight: bold !important;
}

#label {
    border: 1px solid #0093EA !important;
    background: #fff !important;
    color: #005994 !important;
    font-weight: bold !important;
    text-shadow: 0 0 #eee !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #0093EA), to( #007dcd));
    background-image: -webkit-linear-gradient( #0093EA, #007dcd);
    background-image: -moz-linear-gradient( #0093EA, #007dcd);
    background-image: -ms-linear-gradient( #0093EA, #007dcd);
    background-image: -o-linear-gradient( #0093EA, #007dcd);
    background-image: linear-gradient( #0093EA, #007dcd);
}

strong#cat {
    background-color: #009688;
    border-color: #1d1d1d;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    padding: 5px !important;
}

p#catp {
    padding: 5px !important;
}

.ui-listview>li.ui-last-child>a.ui-btn {
    border-bottom-width: 1px;
    text-align: center !important;
    background-color: #263238 !important;
    border-color: #263238 !important;
}

.ui-listview-inset>.ui-li-static,
.ui-listview-inset>.ui-li-divider,
.ui-listview-inset>li>a.ui-btn {
    white-space: pre-line !important;
}

.ui-content {
    padding: 0em !important;
}

#input {
    padding: 1em !important;
}

.ui-page {
    background-color: #637589 !important;
}

.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
    background-color:#333/*{b-body-background-color}*/
    !important;
    border-color: #333/*{b-body-border}*/
    ;
    color: #0092EE/*{b-body-color}*/
    ;
    text-shadow: 0/*{b-body-shadow-x}*/
    1px/*{b-body-shadow-y}*/
    0/*{b-body-shadow-radius}*/
    #111/*{b-body-shadow-color}*/
    ;
}

.ui-header .ui-title,
.ui-footer .ui-title {
    font-size: 1.3em;
    font-family: 'Cinzel', serif;
    text-shadow: 3px 1px 2px black;
}

#logo {
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 15%;
    padding-bottom: 0em;
}

#name {
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0px 0px black;
    font-size: 4em;
    text-align: center;
}

#desc {
    font-family: 'Cinzel', serif;
    text-align: center;
    text-shadow: 0px 0px 0px black;
    font-size: 1em;
}

#go {
    width: 22%;
    display: block;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 0em;
}